In [106]:
from __future__ import absolute_import
from __future__ import print_function
from __future__ import division

%matplotlib inline  

import sys
import matplotlib
import numpy as np
import pandas as pd
import datetime as datetime
from astropy.table import QTable, Table, Column
from astropy import units as u

print('Version information')

print('python: {}'.format(sys.version))

# Set random seed so output is all same
np.random.seed(1)

Version information
python: 3.7.10 (default, Feb 20 2021, 21:17:23)
[GCC 7.5.0]

# Script for randomly generating data for hourly shifts

In [107]:
# Credit card and cash tips based on randomized total bill

class Hourly_Shifts():

  def __init__(self):
    hourly_data_size = 10
    user_id = np.empty(hourly_data_size)
    employer_id = np.empty(hourly_data_size)
    hourly_wage = np.empty(hourly_data_size)

  def generate_Hourly_Data(self, data_size):
    #data_size: the number of data points for hourly shifts
    self.hourly_data_size = data_size
    self.user_id = np.full((self.hourly_data_size), 2)
    self.employer_id = np.full((self.hourly_data_size), 2)
    shift_id = np.arange(1,self.hourly_data_size+1)
    self.hourly_wage = np.full((self.hourly_data_size), round(8,2), dtype=float)

    credit_card_tips = np.empty(self.hourly_data_size)
    for i in range(self.hourly_data_size):
      credit_card_tips[i] = round((np.random.uniform(3, 60) * np.random.randint(18, 20)) / 100, 2)

    cash_tips = np.empty(self.hourly_data_size)
    for i in range(self.hourly_data_size):
      cash_tips[i] = round((np.random.uniform(3, 60) * np.random.randint(15, 20)) / 100, 0)

    date_range = pd.date_range(start='8/1/2019', periods=self.hourly_data_size, freq='B')

    start_time = np.empty(self.hourly_data_size, dtype=object)
    end_time = np.empty(self.hourly_data_size, dtype=object)
    for i in range(self.hourly_data_size):
      begin_hour = np.random.randint(7,12)
      begin_min = np.random.randint(0,50)
      begin_seconds = np.random.randint(0,60)
      end_hour = np.random.randint(3,9)
      end_min = np.random.randint(0,50)
      start_time[i] = "{0}:{1}:{2}".format(begin_hour, begin_min, begin_seconds)
      end_time[i] = "{0}:{1}:{2}".format(begin_hour+end_hour, end_min, begin_seconds)

    data = {'shift_id': shift_id, 'user_id': self.user_id, 'employer_id': self.employer_id, 'shift_date': date_range, 
            'start_time':start_time, 'end_time':end_time,'hourly_wage': self.hourly_wage, 'credit_card_tips': credit_card_tips, 'cash_tips': cash_tips}
    hourly_shift_details = pd.DataFrame(data=data)

    return hourly_shift_details

  def SQL_INSERT_STATEMENT(self, SOURCE):
    # SOURCE: source dataframe
    # TARGET: target table to be created in database
    sql_texts = []
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+'`hourly_shift_details`'+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

In [108]:
H = Hourly_Shifts();
h_shift_details = H.generate_Hourly_Data(10)
h_shift_details
sql_texts = H.SQL_INSERT_STATEMENT(h_shift_details)

print(np.transpose(sql_texts))

["INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (1, 2, 2, Timestamp('2019-08-01 00:00:00'), '7:49:43', '14:26:43', 8.0, 4.82, 7.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (2, 2, 2, Timestamp('2019-08-02 00:00:00'), '11:16:45', '17:41:45', 8.0, 10.67, 4.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (3, 2, 2, Timestamp('2019-08-05 00:00:00'), '9:15:0', '16:25:0', 8.0, 3.84, 8.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (4, 2, 2, Timestamp('2019-08-06 00:00:00'), '9:23:7', '14:25:7', 8.0, 3.13, 9.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (5, 2, 2, Timestamp('2019-08-07 00:00:00'), '7:22:9', '13:39:9', 8.0, 2.59, 10.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (6, 2, 2, Timestamp('2019-08-08 00:00:00'), '11:27:37', '15:19:37', 8.0, 7.82, 8.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (7, 2, 2, Timestamp('2019-08-09 00:00:00'), '7:32:34', '12:23:34', 8.0, 6.07, 1.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (8, 2, 2, Timestamp('2019-08-12 00:00:00'), '8:7:51', '15:10:51', 8.0, 3.75, 10.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (9, 2, 2, Timestamp('2019-08-13 00:00:00'), '7:24:23', '11:49:23', 8.0, 2.64, 7.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, start_time, end_time, hourly_wage, credit_card_tips, cash_tips) VALUES (10, 2, 2, Timestamp('2019-08-14 00:00:00'), '10:0:56', '18:13:56', 8.0, 2.9, 6.0)"]

# Script for randomly generating data for non-hourly shifts

In [109]:
# Credit card and cash tips based on randomized total bill

class Non_Hourly_Shifts():

  def __init__(self):
    non_hourly_data_size = 10
    user_id = np.empty(non_hourly_data_size)
    employer_id = np.empty(non_hourly_data_size)
    total_base_earning = np.empty(non_hourly_data_size)

  def generate_Non_Hourly_Data(self, data_size):
    #data_size: the number of data points for non_hourly shifts

    self.non_hourly_data_size = data_size
    self.user_id = np.full((self.non_hourly_data_size), 1)
    self.employer_id = np.full((self.non_hourly_data_size), 1)
    shift_id = np.arange(1, self.non_hourly_data_size+1)
    self.total_base_earning = np.full((self.non_hourly_data_size), round(320,2), dtype=float)

    credit_card_tips = np.empty(self.non_hourly_data_size)
    for i in range(self.non_hourly_data_size):
      credit_card_tips[i] = round((np.random.uniform(3, 60) * np.random.randint(18, 20)) / 100, 2)
    
    cash_tips = np.empty(self.non_hourly_data_size)
    for i in range(self.non_hourly_data_size):
      cash_tips[i] = round((np.random.uniform(3, 60) * np.random.randint(15, 20)) / 100, 0)
    
    date_range = pd.date_range('1/1/2020', periods =self.non_hourly_data_size)

    data = {'shift_id': shift_id, 'user_id': self.user_id, 'employer_id': self.employer_id, 'shift_date': date_range, 
        'total_base_earning': self.total_base_earning, 'credit_card_tips': credit_card_tips, 'cash_tips': cash_tips}
    non_hourly_shift_details = pd.DataFrame(data=data)

    return non_hourly_shift_details

  def SQL_INSERT_STATEMENT(self, SOURCE):
    # SOURCE: source dataframe
    # TARGET: target table to be created in database
    sql_texts = []
    for index, row in SOURCE.iterrows():       
      sql_texts.append('INSERT INTO '+'`hourly_shift_details`'+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

In [110]:
NH = Non_Hourly_Shifts();
nh_shift_details = NH.generate_Non_Hourly_Data(10)
sql_texts = NH.SQL_INSERT_STATEMENT(nh_shift_details)
print(np.transpose(sql_texts))

["INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (1, 1, 1, Timestamp('2020-01-01 00:00:00'), 320.0, 1.06, 7.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (2, 1, 1, Timestamp('2020-01-02 00:00:00'), 320.0, 5.82, 4.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (3, 1, 1, Timestamp('2020-01-03 00:00:00'), 320.0, 0.89, 3.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (4, 1, 1, Timestamp('2020-01-04 00:00:00'), 320.0, 9.81, 9.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (5, 1, 1, Timestamp('2020-01-05 00:00:00'), 320.0, 5.42, 10.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (6, 1, 1, Timestamp('2020-01-06 00:00:00'), 320.0, 8.82, 5.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (7, 1, 1, Timestamp('2020-01-07 00:00:00'), 320.0, 6.4, 2.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (8, 1, 1, Timestamp('2020-01-08 00:00:00'), 320.0, 10.06, 4.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (9, 1, 1, Timestamp('2020-01-09 00:00:00'), 320.0, 6.4, 10.0)"
 "INSERT INTO `hourly_shift_details` (shift_id, user_id, employer_id, shift_date, total_base_earning, credit_card_tips, cash_tips) VALUES (10, 1, 1, Timestamp('2020-01-10 00:00:00'), 320.0, 8.43, 8.0)"]

# Script for randomly generating work schedule date

In [111]:
class Work_Schedule():

  def __init__(self):
    schedule_data_size = 10
    user_id = np.empty(schedule_data_size)
    employer_id = np.empty(schedule_data_size)

  def generate_Work_Schedule_Data(self, data_size):
    #data_size: the number of data points for work schedule

    self.schedule_data_size = data_size
    self.user_id = np.full((self.schedule_data_size), 1)
    self.employer_id = np.full((self.schedule_data_size), 1)
    schedule_id = np.arange(1, self.schedule_data_size+1)
    
    date_range = pd.date_range('3/1/2021', periods =self.schedule_data_size)

    start_time = np.empty(self.schedule_data_size, dtype=object)
    end_time = np.empty(self.schedule_data_size, dtype=object)
    for i in range(self.schedule_data_size):
      begin_hour = np.random.randint(7,12)
      begin_min = np.random.randint(0,50)
      begin_seconds = np.random.randint(0,60)
      end_hour = np.random.randint(3,9)
      end_min = np.random.randint(0,50)
      start_time[i] = "{0}:{1}:{2}".format(begin_hour, begin_min, begin_seconds)
      end_time[i] = "{0}:{1}:{2}".format(begin_hour+end_hour, end_min, begin_seconds)

    data = {'schedule_id': schedule_id, 'user_id': self.user_id, 'employer_id': self.employer_id, 'shift_date': date_range, 
        'start_time': start_time, 'end_time': end_time}
    work_schedule_details = pd.DataFrame(data=data)

    return work_schedule_details

  def SQL_INSERT_STATEMENT(self, SOURCE):
    # SOURCE: source dataframe
    # TARGET: target table to be created in database
    sql_texts = []
    for index, row in SOURCE.iterrows():       
      sql_texts.append('INSERT INTO '+'`hourly_shift_details`'+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

In [112]:
WS = Work_Schedule()
work_schedule_details = WS.generate_Work_Schedule_Data(15)
sql_texts = WS.SQL_INSERT_STATEMENT(work_schedule_details)
print(np.transpose(sql_texts))

["INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (1, 1, 1, Timestamp('2021-03-01 00:00:00'), '8:42:20', '11:22:20')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (2, 1, 1, Timestamp('2021-03-02 00:00:00'), '8:33:53', '15:10:53')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (3, 1, 1, Timestamp('2021-03-03 00:00:00'), '7:25:21', '10:19:21')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (4, 1, 1, Timestamp('2021-03-04 00:00:00'), '8:49:14', '16:20:14')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (5, 1, 1, Timestamp('2021-03-05 00:00:00'), '11:43:6', '19:15:6')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (6, 1, 1, Timestamp('2021-03-06 00:00:00'), '7:9:2', '15:5:2')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (7, 1, 1, Timestamp('2021-03-07 00:00:00'), '11:37:56', '19:40:56')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (8, 1, 1, Timestamp('2021-03-08 00:00:00'), '10:49:49', '18:40:49')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (9, 1, 1, Timestamp('2021-03-09 00:00:00'), '7:28:42', '15:3:42')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (10, 1, 1, Timestamp('2021-03-10 00:00:00'), '11:2:14', '14:29:14')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (11, 1, 1, Timestamp('2021-03-11 00:00:00'), '10:35:53', '18:33:53')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (12, 1, 1, Timestamp('2021-03-12 00:00:00'), '9:20:19', '12:32:19')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (13, 1, 1, Timestamp('2021-03-13 00:00:00'), '11:18:31', '18:30:31')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (14, 1, 1, Timestamp('2021-03-14 00:00:00'), '9:8:45', '15:32:45')"
 "INSERT INTO `hourly_shift_details` (schedule_id, user_id, employer_id, shift_date, start_time, end_time) VALUES (15, 1, 1, Timestamp('2021-03-15 00:00:00'), '7:20:13', '12:15:13')"]